@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Montserrat:wght@500&family=Roboto:wght@300;400&display=swap');
/*APP SECTION *
.app-container {
	display: flex;
	justify-content:center;
	align-items: center;
	flex-wrap: wrap;
}
.app-container h4 {
	font-size: 2.5rem;
	font-weight: 400;
	margin: 0;
}
.app-container p{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.3;
}
.app_img {
	width: 370px;
}
.box-app img {
	margin-top: 15px;
	width: 30%;
}
.box-app{
line-height: 1.7;
}
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}
.navbar ul{
  display: flex;
  list-style: none;
}
.navbar li{
  padding: 13px;
}
.navbar a{
  text-decoration: none;
  font-size: 19px;
  text-transform: capitalize;
  font-family: "Cormorant Garamond", serif;
	font-weight: 100;
  color: #000; 
  padding: 7px;
}
.navbar a:hover{
    background-color: rgb(248, 91, 91);
    color: whitesmoke;
    border-radius: 25px;
    transition: 0.5s;
}
.logo{
  width: 180px;
}
.hero{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 5em;
  margin: 25px;
}
.hero h1{
  font-size: 30px;
  margin-left: 2px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
	color: #333;
  line-height: 1.3;
}
.hero p{
   font-family: 'Cabin', sans-serif;
	margin: 7px;
	line-height: 1.4;
	color: #333;
	font-weight: 100;
}
.btn{
  background-color:green;
 color:#fff;
 border: 2px solid green;
	padding: 9px;
	border-radius: 25px;
	text-decoration: none;
	margin: 3px;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 16px;
  width: 120px;
  font-family: 'Cabin', sans-serif;
}
.btn:hover{
  background-color: transparent;
  color:#333;
  transition: 0.5s;
}
.btn-btn:hover{
  background-color: hsl(228, 84%, 65%);
  color: #fff;
  transition: 0.5s;
}
.btn-btn{
  padding: 9px;
	border-radius: 25px;
	text-decoration: none;
	margin: 3px;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 17px;
  width: 120px;
  border: 2px solid rgb(53, 51, 51);
  font-family: 'Cabin', sans-serif;
}
/*WORKS*/
.work{
background-color: whitesmoke;
padding: 9px;
margin: 50px;
}
#container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#container img{
  width: 100px;
  margin: 5px;
}
.h-4{
  text-align: center;
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
}
/*GLOBAL*/
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5em;
  gap: 4em;
}
.container p{
  font-size: 17px;
  font-family: 'Cabin', sans-serif;
  font-weight: 200;
  margin: 4px;
}
.content img{
  width: 80px;
}
.content p{
  font-size: 16px;
  font-family: "Wellfleet-Regular";
  font-weight: 100;
  text-transform: capitalize;
  margin: 0;
}
.content h5{
  font-size: 16px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding: 0;
  margin: 0;
}
.h-3{
  text-align: center;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: capitalize;
}
.h-2{
  font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    margin: 9px;
}
#para{
  font-size: 20px;
  text-align: center;
  font-family: "Wellfleet-Regular";
  text-transform: capitalize;
  margin: 5px;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:18px;
  gap: 2em;
}
#wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 2em;
}
.instructor{
  margin: 3em;
}
.img{
  width: 100px;
  border-radius: 50%;
  border: 3px solid orange;
}
.image{
  width: 100px;
  border-radius: 50%;
  border: 3px solid skyblue;
}
#img{
  width: 100px;
  border-radius: 50%;
  border: 3px solid green;
}
.images{
  width: 100px;
  border-radius: 50%;
  border: 3px solid purple;
}
/*PRICING*/
.pricing{
    margin: 35px;
}
.h-4{
  font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    margin: 10px;
}
.flex-container{
  display: flex;
  align-items: center;
  justify-content:space-around;
  box-sizing: border-box;
  width: min(100%);
  gap: 35px;
}
.flex-container h6{
  font-size: 20px;
  text-transform: capitalize;
  margin: 2px;
  font-family: 'Montserrat', sans-serif;
}
.flex-container >div{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.13);
  width: 29%;
  padding-left:20px ;
  padding-bottom: 20px;
  line-height: 1.7;
}
.para{
  margin-top: 5px;
  font-style: bold;
  font-family: sans-serif;
  line-height: 25px;
}
.parag{
  line-height: 30px;
  font-family: "Wellfleet-Regular";
}
#price-btn{
  background-color: hsl(228, 84%, 65%);
  color: #fff;
  padding: 9px;
	border-radius: 20px;
	text-decoration: none;
	margin-top: 10px;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 16px;
  width: 150px;
  border: 2px solid ;
  font-family: 'Cabin', sans-serif;
}
.price-btn:hover{
  background-color:hsl(228, 67%, 64%);
  color:#fff;
  transition: 0.5s;
}
.price-btn{
  color:#333;
  padding: 9px;
	border-radius: 20px;
	text-decoration: none;
	cursor: pointer;
  margin-top: 9px;
	text-transform: capitalize;
	font-size: 16px;
  width: 150px;
  border: 2px solid skyblue;
  font-family: 'Cabin', sans-serif;
}
#price-btn:hover{
  background-color: transparent;
  color:#333;
  transition: 0.5s;
}
/*TESTIMONIAL*/
.testimonial{
  margin: 25px;
}
.testimonial h6{
  font-size: 35px;
  text-transform: uppercase;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
#testimonial{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 20px;
}
#testimonial > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.testimonial-content p{
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
text-transform: capitalize;
}
.testimonial-box{
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	transition: 0.6s ease-out;
	box-sizing: border-box;
	cursor: pointer;
	place-items: center;
	width: 100%;
  margin: 5px;
}
.testimonial-box h5{
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 4px;
  text-transform: capitalize;
}
#testimonial img{
  width:150px ;
  border-radius: 50%;
  object-fit: contain;
  flex-shrink: 0;
  margin:5px;
  border: 3px solid orange;
}
#testimonial i{
  color: orange;
  display:inline;
  width:3px;
}
footer{
  background-color: #181616d7;
	color: #fff;
  padding: 3em;
  line-height: 4em;
  margin-top: 30px;
}
.heading{
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.footer-container{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 10px;
}
.footer-container p{
  font-family: 'Cabin', sans-serif;
  font-weight: 200;
  text-transform: capitalize;
  margin: 6px;
  font-size: 20px;
}
.footer-container ul{
  list-style: none;
  margin: 5px;
}
.footer-container a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  font-weight: 200;
}
.paragraph{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: capitalize;
}
.newsletter-form {
	display: flex;
	justify-content: center;
    width: 100%;
    position: relative;
}
.newsletter-input {
  max-width: 25rem;
	padding: 1rem;
	border: none;
	outline: none;
}
.newsletter-btn {
	background: transparent;
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: 1.6rem;
	padding: 1px 0.6rem;
	outline: none;
}
.newsletter-form-box {
	background-color:#fff;
	border-radius: 0.4rem;
	display: flex;
	overflow-x: hidden;
}
footer i{
  color: #fff;
  padding: 6px;
}
footer i:hover{
  color:hsl(228, 84%, 65%);
}